<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BroncBotz_Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <BroncBotz_Dashboard.Properties.Settings>
      <setting name="lowerHue" serializeAs="String">
        <value>149</value>
      </setting>
      <setting name="upperHue" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="lowerSaturation" serializeAs="String">
        <value>230</value>
      </setting>
      <setting name="upperSaturation" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="lowerBrightness" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="upperBrightness" serializeAs="String">
        <value>218</value>
      </setting>
      <setting name="CaptureType" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CaptureSource" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="prevUSB" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="prevNetwork" serializeAs="String">
        <value>rtsp://FRC:FRC@10.34.81.11:554/axis-media/media.amp</value>
      </setting>
      <setting name="prevFile" serializeAs="String">
        <value />
      </setting>
      <setting name="teamNumber" serializeAs="String">
        <value>3481</value>
      </setting>
    </BroncBotz_Dashboard.Properties.Settings>
  </userSettings>
</configuration>