################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BroncBotz_Dashboard/obj/Debug
/BroncBotz_Dashboard/bin/Debug
*.suo
